<nav>
<nav class="navbar navbar-default">
  <div class="container-fluid" ng-controller="HeaderController">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Comics!</a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav" ng-if="isLogged">
            <li class="btn-group" uib-dropdown>
                <a href="#" uib-dropdown-toggle data-toggle="dropdown" role="button" aria-haspopup="true">Editions<span  class="caret"></span></a>
                <ul uib-dropdown-menu role="menu">
                    <li role="menuitem" ng-repeat="link in editionLinks track by $index">
                        <a ng-href="{{link.link}}">{{link.name}}</a></li>
                </ul>
            </li>
            <li class="btn-group" uib-dropdown>
                <a href="#" uib-dropdown-toggle data-toggle="dropdown" role="button" aria-haspopup="true">Genres<span  class="caret"></span></a>
                <ul uib-dropdown-menu role="menu">
                    <li role="menuitem" ng-repeat="link in genresLinks track by $index">
                        <a ng-href="{{link.link}}">{{link.name}}</a></li>
                </ul>
            </li>
            <li class="btn-group" uib-dropdown>
                <a href="#" uib-dropdown-toggle data-toggle="dropdown" role="button" aria-haspopup="true">Characters<span  class="caret"></span></a>
                <ul uib-dropdown-menu role="menu">
                    <li role="menuitem" ng-repeat="link in charactersLinks track by $index">
                        <a ng-href="{{link.link}}">{{link.name}}</a></li>
                </ul>
            </li>
            <li class="btn-group" uib-dropdown>
                <a href="#" uib-dropdown-toggle data-toggle="dropdown" role="button" aria-haspopup="true">News<span  class="caret"></span></a>
                <ul uib-dropdown-menu role="menu">
                    <li role="menuitem" ng-repeat="link in newsLinks track by $index">
                        <a ng-href="{{link.link}}">{{link.name}}</a></li>
                </ul>
            </li>
        </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><p class="navbar-text">{{greeting}}</p></li>
        <li ng-if="!isLogged"><a href="#/user/login">Login</a></li>
        <li ng-if="!isLogged"><a href="#/user/register">Register</a></li>

          <li class="btn-group" uib-dropdown ng-if="isLogged">
            <a href="#" uib-dropdown-toggle data-toggle="dropdown" role="button" aria-haspopup="true">Account<span class="caret"></span></a>
            <ul uib-dropdown-menu role="menu">
                <li role="menuitem"><a href="#/user/profile/{{userName}}">Profile</a></li>
                <li role="menuitem"><a href="#/user/about">Loans</a></li>
                <li role="separator" class="divider"></li>
                <li role="menuitem" ng-click="logout()"><a>Logout</a></li>
            </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
    
    </div><!-- /.container-fluid -->
</nav>
</nav>
