<div class="row">
  <div class="col-md-12">
    <h1>{{title}}</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <table class="table table-striped">
    	<thead>
    	<tr>
    		<th ng-repeat="column in configModel">{{column.caption}}</th>
        <th>Actions</th>
    	</tr>
    	</thead>
    	<tbody>
        <tr item-editor ng-repeat="item in items" item='item' columns='configModel' collection="users"></tr>
    	</tbody>
      <tfooter>
        <button type="button" class="btn btn-default btn-sm" ng-click="add()">
          <span class="fa fa-plus"></span>Add new
        </button>
      </tfooter>
    </table>
  </div>
</div>
