<div class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <ul class="nav navbar-nav navbar-left">
            <p class="navbar-text">Copyright 2016 Ezequiel Zink</p>
        </ul>      
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="https://www.youtube.com/channel/UCiMDA6_XeLA0DHddhJSGLjQ" class="navbar-btn pull-right">
                    <span class="fa fa-youtube-square fa-2x"></span>
                </a>
            </li>
            <li>
                <a href="https://www.youtube.com/channel/UCiMDA6_XeLA0DHddhJSGLjQ" class="navbar-btn pull-right">
                    <span class="fa fa-facebook-square fa-2x"></span>
                </a>
            </li>
            <li>
                <a href="https://www.youtube.com/channel/UCiMDA6_XeLA0DHddhJSGLjQ" class="navbar-btn pull-right">
                    <span class="fa fa-twitter-square fa-2x"></span>
                </a>
            </li>
        </ul>
      
      
    </div>    
</div>