<div class="row">
    <div class="col-md-9">
        <div class="input-group">
            <select class="form-control"
                    ng-model= "filterBy"
                    ng-options= "item as item.label for item in filterOptions"/>
            <input type="text" class="form-control" ng-model="filterTerm" placeholder="Search for...">
        </div>
    </div>
</div>
<div class="row">
    <div class="thumbnail col-md-3" ng-repeat="comic in comics | filter: filterConfig track by comic.id">
      <img ng-src="{{comic.cover}}" alt="{{comic.title}}">
      <div class="caption">
        <h4>{{comic.title}}</h4>
        <p>{{comic.company}}</p>
        <p>
            <a href="#" class="btn btn-primary" role="button">View</a>
            <a href="#" class="btn btn-default" role="button">Borrow</a>
        </p>
      </div>
    </div>
</div>
